body{
background: rgb(71, 109, 190);
background: linear-gradient(90deg, rgb(71, 146, 190) 0%, rgb(121, 153, 214) 6%, rgb(63, 123, 172) 11%, rgb(96, 155, 204) 35%);
margin: 0;

}

#menu{
background: rgb(12,110,104);
background: linear-gradient(90deg, rgba(12,110,104,1) 0%, rgb(72, 111, 184) 0%, rgb(67, 163, 207) 4%,  rgba(0,212,255,1) 100%);
width: 300px;
height: 1150px;
text-align: center;
box-shadow: 5px 1px 5px rgba(0,0,0,0.4); 
margin-top: -30px;
}

.logo{
width: 150px;
border: 6px double;color: white;
border-radius:50%;
margin-top: 35px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.4); 
}

h1{
    font-size: 1.6rem;
    color: #fff;
    text-shadow:5px 5px 5px rgba(0,0,0,0.4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-size: 1.4rem;
    color: #fff;
    text-shadow:5px 5px 5px rgba(0,0,0,0.4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.links{
text-decoration:none;
color:white;
font-size: 1.5rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
flex-direction: column;
padding: 1rem;
margin-right: 25%;
transition: all 0.7s ease-out;
}

.links:hover{
background: rgb(12,110,104);
background: linear-gradient(90deg, rgba(12,110,104,1) 0%, rgba(96,56,145,1) 0%, rgba(95,33,182,1) 4%, rgba(0,212,255,1) 100%);
color: rgb(0, 0, 0);
box-shadow: 0 12px 16px  rgba(66, 1, 68, 0.24), 0 17px 50px  rgba(66, 1, 68, 0.19);
}

header{
float: left;
}

.info01{
background-color: #fff;
margin: 1rem 1rem 1rem 20rem;
padding: 1rem;
border-radius: 30px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.info02{
background-color: #fff;
margin: 1rem 1rem 1rem 2rem;
padding: 1rem;
border-radius: 30px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
width: 250px;
height: 200px;

}

.info03{
background-color: #fff;
margin: 1rem 1rem 1rem 2rem;
padding: 1rem;
border-radius: 30px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
width: 250px;
height: 200px;
}


.info04{
background-color: #fff;
margin: 1rem 1rem 1rem 2rem;
padding: 1rem;
border-radius: 30px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
width: 250px;
height: 200px;
}
.info05{
background-color: #fff;
margin: 1rem 1rem 1rem 2rem;
padding: 1rem;
border-radius: 30px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
width: 250px;
height: 200px;
}    

.info06{
background-color: #fff;
margin: 1rem 1rem 1rem 2rem;
padding: 1rem;
border-radius: 30px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
width: 250px;
height: 200px;
}

.info07{
background-color: #fff;
margin: 1rem 1rem 1rem 2rem;
padding: 1rem;
border-radius: 30px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
width: 250px;
height: 200px;
}

.info08{
background-color: #fff;
margin: 1rem 1rem 1rem 2rem;
padding: 1rem;
border-radius: 30px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
width: 250px;
height: 230px;
}

#conteudo {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

h3{
font-size: 1.5rem;
font-family: sans-serif;
color: rgb(36, 35, 37);
text-align: center;
text-shadow: 1px, 1px, 15px;

}


p,li{
color: rgb(53, 48, 48);
}


footer{
background-color: rgb(63, 123, 172);
display: flex;
justify-content: center;
color: rgb(0, 0, 0);
text-align: center;
padding: 2rem;
margin: -10rem;
clear: both;
font-size: 20px;
}

